﻿@font-face {
    font-family: 'OswaldLight';
    src: url('../font/Oswald-Light-webfont.eot');
    src: url('../font/Oswald-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/Oswald-Light-webfont.woff') format('woff'), url('../font/Oswald-Light-webfont.ttf') format('truetype'), url('../font/Oswald-Light-webfont.svg#OswaldLight') format('svg');
    font-weight: 100;
    font-style: inherit;
}

@font-face {
    font-family: 'Open Sans';
    src: url(http://fonts.googleapis.com/css?family=Open+Sans:100);
    font-weight: 100 ;
    font-style: inherit;
}

section {
    float: left;
    display: flex;
    margin-bottom: 80px;
}

.serv-text {
    margin: 25px;
    margin-top: 0;
    font-family: 'OswaldLight',Arial,Helvetica,sans-serif;
    font-size: 20px;
    line-height: 36px;
    color: #414146;
    border-bottom: 5px solid #efefef;
    float: left;
    display: flex;
}

.serv {
    float: left;
    display: flex;
    background-color: white;
    position: relative;
}

.icon {
    padding-bottom: 25px;
    padding-top: 50px;
    transition: all 300ms linear;
    float: none;
    margin: 0 auto;
}

.icon-maintext {
    font-family: OswaldLight, Arial, sans-serif;
    font-weight: 100;
    font-style: inherit;

    color: #414146;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 14px;
    margin-top: 14px;
    text-align: center;
    transition: all 300ms linear;
    text-decoration: none !important;
}

.icon-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 17px;
    margin-bottom: 0;
    color: #6f6f73;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bloc {
    float: left;
    display: flex;
    /*background-color: rgb(255, 234, 0);*/
    background-image: linear-gradient( to right, rgb(255, 234, 0), rgb(255, 244, 0) 10% );
    /*border-left: 1px solid #D1D1D1;*/
    position: relative;
    margin: 0 auto;
    position: center;
    text-align: center;
}

.icon img {
    height: 70px;
    width: 90px;
    margin: 0 auto;
    position: center;
    text-align: center;
}

    .icon img:hover {
        transform: scale(1.5);
    }

.bloc:hover {
    background-image: none;
    background-color: #fff;
    transition: all 0.3s;
}


section .arrow {
    float: right;
}

section .more {
    float: right;
    display: flex;
    vertical-align: bottom !important;
    bottom: 0 !important;
}


section .more-arrow {
    float: right;
    display: inline-flex;
    margin-top:34px;
    margin-bottom:0;
    padding: 0;
    vertical-align: bottom;
    position: relative;
    bottom: 0;
}