﻿@font-face {
    src: url(./Oswald-Light-webfont.woff);
    font-family: OswaldLight;
}

body {
    margin: 0;
    font-family: Oswald, sans-serif;
    background: url(http://abcgomel.ru/solana/images/sliders/slider-1/slider-bg-1.jpg) 50% 0px no-repeat;
    background-color: #efefef;
    text-decoration: none;
}
*::selection {
    color: white;
    background: rgb(255, 234, 0);
}
*{
    text-decoration:none;
}

.container {
    width: 800px;
    margin: auto;
    margin-top: 40px;
    /*display: flex;*/
}
.logo {
    margin-right:110px;
    display: flex;
}
.logo-class {
    width: 100px;
    height: 20px;
}

header {
    background-color: rgb(65, 65, 70);
    overflow: hidden;
    float:left;
    display:flex;
}

.header-wrapper {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.header-menu {
    display: flex;
    float: left;
}

header nav ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(65, 65, 70);
    font-size: 14px;
}
li a:hover:not(.active) {
    background-color: rgb(255, 234, 0);
    font-size: 14px;
    color: rgb(65, 65, 70);
}
li div a:hover:not(.active) {
    background-color: rgb(255, 234, 0);
    font-size: 12px;
    color: rgb(65, 65, 70);
}

li div a {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.active {
    background-color: rgb(255, 234, 0); /*yellow*/
    color: rgb(65, 65, 70);
    font-size:14px;
}

header nav ul li {
    padding: 0;
    background-color: rgb(65, 65, 70); /*dark grey*/
    height: 100%;
    display: flex;
    align-items: center;
    transition: 1s all;
    float: left;
}

    header nav ul li:hover {
        background-color: rgb(255, 234, 0);
        float: left;
    }

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 27px 18px;
    text-decoration: none;
}

    li a:hover {
        background-color: rgb(255, 234, 0);
    }

/*.dropdown:hover  {
    background-color: red;
}*/
.dropbtn {
    background-color: rgb(65, 65, 70);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(86, 90, 96);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: rgb(255, 234, 0);
        }

.dropdown:hover .dropdown-content {
    display: block;
}
.search {
    float: left;
    display: flex;
}
.search-txt {
    border: none !important;
    color: #c1c1c1 !important;
    display: block !important;
    float: left !important;
    margin: 0 !important;
    font-style: normal !important;
    padding: 9px 9px !important;
    background-attachment: scroll;
    background-color: #565a60;
    background-image: none;
    background-repeat: repeat;
    background-position: 0 0;
    width: 100px;
    height: 56px;
    font-family: 'OswaldLight', Arial, Helvetica, sans-serif;
}
.search-submit {
    margin: 0;
    padding: 0;
    width: 38px;
    height: 74px;
    border: medium none;
    background-image: url(http://abcgomel.ru/solana/images/search-submit.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;
    background-attachment: scroll;
    background-color: #565a60;
    float: left;
    display: flex;
}
    .search-submit:hover:not(.active) {
        background-color: rgb(255, 234, 0);
        color: rgb(65, 65, 70);
        background-image: url(http://abcgomel.ru/solana/images/search-submit-hover.png);
    }


    