﻿@font-face {
    font-family: 'OswaldLight';
    src: url('../font/Oswald-Light-webfont.eot');
    src: url('../font/Oswald-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/Oswald-Light-webfont.woff') format('woff'), url('../font/Oswald-Light-webfont.ttf') format('truetype'), url('../font/Oswald-Light-webfont.svg#OswaldLight') format('svg');
    font-weight: normal;
    font-style: normal;
}



main {
    float: left;
    display: flex;
    
}

    main div h1 {
        font-family: OswaldLight, Arial, sans-serif;
        font-weight: 100;
        font-style: inherit;

        margin-top: 35%;
        background-color: rgb(255, 234, 0);
        color: rgb(65, 65, 70);
        list-style-type: none;
        overflow: hidden;
        opacity: 1;
        font-size: 40px;
        padding: 10px 18px;
        margin-bottom: 15px;
    }

    main div h2 {
        font-family: OswaldLight, Arial, sans-serif;
        font-weight: 100;
        font-style: inherit;

        background-color: #565a60;
        color: white;
        overflow: hidden;
        font-size: 18px;
        padding: 10px 18px;
        margin-top: 0;
        margin-bottom: 60px;
        float: left;
        display: flex;
    }

.fem {
    float: left;
    display: flex;
    padding: 20px 18px;
    margin-left: 20%;
}

.more {
    font-family: OswaldLight, Arial, sans-serif;
    font-weight: 100;
    font-style: inherit;

    background-color: rgb(65, 65, 70);
    color: white;
    overflow: hidden;
    font-size: 14px;
    padding: 10px 18px 10px;
    text-decoration: none;
    display: block;
    float: left;
}

    .more:hover {
        background-color: rgb(255, 234, 0);
        color: rgb(65, 65, 70);
    }

.arrow {
    background-color: rgb(255, 234, 0);
    font-size: 14px;
    flex-direction: row;
    overflow: hidden;
    padding: 10px 18px 10px;
}
.more-arrow {
    display: inline-flex;
    flex-direction: row;
}